@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}


::-webkit-scrollbar {
  width: 0.05px;
  height: 0.05px;
  border-radius: 0;
  background: transparent;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background:transparent;
}

.primary_hover:hover{
  border: 3px solid #fe4c23 !important;
  cursor: pointer
}

img{
  border-radius: 50%;
}